.logo{
    width: 1.5% ;
    margin-right: 20px;
}
.contenedor{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 2% 1% 0% 1%;
    padding: 5px;
}
.icono{
    margin-left: 20px;
    margin-right: 20px;
}
.icono2{
    margin-left: 20px;
    margin-right: 20px;
}
.icono3{
    margin-left: 20px;
    margin-right: 20px;
}
.icono4{
    margin-left: 20px;
    margin-right: 20px;
}
.icono5{
    margin-left: 20px;
    margin-right: 20px;
}
.icono6{
    margin-left: 20px;
    margin-right: 20px;
}
.icono7{
    margin-left: 20px;
    margin-right: 20px;
}

