.divCards{
    display: flex;
    padding: auto;
    margin: 2%;
    flex-flow:row wrap;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.card2{
    padding: 0.5%;
    height: max-content;
    margin: 5%;
    width: 19%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 15px;
}
img{
    border-radius: 9px;
    width: 90%;
    margin: auto;
    display: block;
}
.card2 h5{
    text-align: center;
}
.card2 p{
    text-align: justify;
}
.card2 button{
    margin-left: 50%;
    transform: translate(-50%);
}